<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="openarm_bimanual">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import openarm_bimanual urdf file -->
    <xacro:include filename="$(find openarm_bimanual_description)/urdf/openarm_bimanual.urdf.xacro" />

    <link name="base_link"/>
    <joint name="world_to_pedestal" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
    <!-- Import control_xacro -->
    <!-- <xacro:include filename="openarm_bimanual.ros2_control.xacro" />


    <xacro:openarm_bimanual_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
