<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="openarm_bimanual">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import openarm_bimanual urdf file -->
    <xacro:include filename="$(find openarm_bimanual_description)/urdf/openarm_bimanual.urdf.xacro" />

</robot>
